/* div{
    width: 1000px;
    height: 800px;
    background-color: aqua;
} */

form{
    width: 1000px;
    height: 100px;
    background-color: yellow;
}


/* Below is adapted from https://codepen.io/apexcharts/pen/xYqyYm */
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}
